.card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 20px 10px;
}

@media (max-width: 768px) {
    .card__container {
        flex-direction: column;
        align-items: center;

    }

    .card__container > * {
        margin-bottom: 20px;
        width: 100%;
    }
}
